.gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    padding: 6px;
    grid-gap: 10px;
    margin-right: 0px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item {
    position: relative;
}

.gallery__title {
    position: absolute;
    bottom: 0%;
    color: white;
    background: linear-gradient(rgba(220, 215, 215, 0)),(rgb(249, 244, 244));
    width: 100%;
    margin: 0;
    padding: 10px;
}

@media (min-width:768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        padding: 20px;
        grid-gap: 10px;
    }
}

@media (min-width:1024px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        padding: 20px;
        grid-gap: 10px;
    }
}

/* CSS */
#carrito {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
  }
  
  #carrito th {
    background-color: #eee;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  #carrito td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  #carrito tfoot td {
    font-weight: bold;
    text-align: right;
  }
  
  .boton-vaciar-carrito {
    background-color: #f44336;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .boton-vaciar-carrito:hover {
    background-color: #c62828;
  }
  
  td {
    padding: 5px !important;
  }

  th:first-child {
    width: 50px !important;
  }